# MongoDB Atlas Connection String
DATABASE_URL="mongodb+srv://jhordan:jhordan@motorotas.qea3vvi.mongodb.net/motorotas?appName=MotoRotas"

# JWT Secret - Use uma string segura e aleatória em produção
JWT_SECRET="changeme-super-secret-minimum-16-chars"

# Credenciais do administrador padrão (criado automaticamente no primeiro acesso)
DEFAULT_ADMIN_EMAIL="admin@motorotas.com"
DEFAULT_ADMIN_PASSWORD="Admin@123"
